<footer class="jumbotron alert-dark">
        <div class="container">
            <div class="row">             
                <div class="col-5 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/ideas">View</a></li>
                        <li><a href="/ideas/add">Add Ideas</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-5"> 
                    <h5>Our Address</h5>
                    <address>
		              Christ University<br>
		              Kanmanike, Bangalore - 560074<br>
		              INDIA<br><br>
                      <i class="fa fa-phone fa-lg"></i>: +91 8340505682<br><br>
                      <i class="fa fa-fax fa-lg"></i>: +91 9431380679<br><br>
                      <a href="mailto:confusion@food.net"><i class="fa fa-envelope fa-lg"></i>: aryan.sonib@gmail.com</a>
		           </address>
                </div>
                <div class="col col-sm-4 align-self-center">
                    <div style="text-align:center">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 iProjects</p>
                </div>
           </div>
        </div>
    </footer>
