<h1 class="display-4">About Us</h1>
<p>This is a Node.js/Express app that helps you to store your project ideas in a secure envirnoment</p>
<div class="media">
  
  <div class="media-body">
    <h5 class="mt-0">Aryan Soni Burman</h5>
    Front-End and Back-End Developer.
  </div>
</div>
<p><h3><span class="badge badge-secondary">Version</span> : <small>1.0.0</small></h3></p>