<h1 class="display-4">About Us</h1>
<p>This is a Node.js/Express app that helps you to store your project ideas in a secure envirnoment</p>
<div class="card card-body">
<div class="media">
  <img src="image/informal_pic.png" width="128px" class="align-self-start mr-3" alt="Me">
  <div class="media-body">
    <h5 class="mt-0">Aryan Soni Burman</h5>
    <p><b>Front-End : </b>EJS Templating Engine</p>
    <p><b>Back-End : </b>Node/Express.js</p>
  </div>
</div>
</div>
<p>
<h3><span class="badge badge-secondary">Version</span> : <small>1.0.1</small></h3>
</p>