<h1 class="display-4">About Us</h1>
<p>This is a Node.js/Express app that helps you to store your project ideas in a secure envirnoment</p>
<div class="card card-body">
<div class="media">
  <img src="image/informal_pic.png" width="128px" class="align-self-start mr-3" alt="Me">
  <div class="media-body">
    <h5 class="mt-0">Aryan Soni <a href="https://github.com/asonib/iProjects" target="_blank" class="badge badge-pill badge-dark">iProjects Repository</a></h5>
    <p><b>Front-End : </b>Express-Handlebars Templating Engine</p>
    <p><b>Back-End : </b>Node/Express.js</p>
    <span>
      <a href="https://www.github.com/asonib" class="badge badge-primary" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/aryan-burman-5a778516b" class="badge badge-secondary" target="_blank">LinkedIn</a>
      <a href="http://devport-app.herokuapp.com/" class="badge badge-success" target="_blank">DevPort</a>
    </span>
    
  </div>
</div>
</div>
<p>
<h3><span class="badge badge-secondary">iProjects Version</span> : <small>1.0.1</small></h3>
</p>